/* COMMON */
.small-wrapper {
    max-width: 900px;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.block-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER */

/* Nav */
.nav-top {
    padding: 20px;
    padding-bottom: 35px;
}

.nav-top img {
    height: 15px;
}

.nav-top nav {
    text-align: right;
}

.menu {
    list-style-type: none;
    line-height: 15px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 12px;
}

.menu.language li {
    border-right: 1px solid black;
    padding-right: 10px;
}

.menu.language li:last-child {
    border-right: none;
    padding-right: 0;
}

.burger-menu {
    font-size: 20px;
    color: black;
}

/* Jumbotron */
.jumbotron {
    height: 480px;
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}


.jumbotron h1 {
    font-size: 44px;
    font-weight: 500;
    padding-bottom: 15px;
}

.jumbotron p {
    font-size: 14px;
}

.jumbotron a img {
    width: 130px;
    padding-top: 15px;
}

/* MAIN */
/* Product */
#product {
    padding: 20px 0;
    font-weight: 600;
}

.col_inner {
    padding: 10px;
}

.col_content {
    text-align: center;
    background-color: #fafafa;
    padding-top: 50px;
}

#product h3 {
    font-size: 28px;
}

#product p {
    font-size: 20px;
    padding: 15px 0;
}

#product a {
    text-decoration: none;
    color: blue;
    font-size: 15px;
}

/* Phone */
#phone {
    background-image: url(../img/HelbizBanner.jpg);
    height: 350px;
    background-size: cover;
}

#phone img {
    display: block;
    margin: auto;
    height: 500px;
    position: relative;
    top: 120px;
}

/* Info */
#info h3 {
    font-size: 28px;
    font-weight: 600;
}

#info .mini-box p {
    font-size: 13px;
}

.mini-box {
    width: 40%;
    padding-top: 18%;
    margin-left: 32%;
}

/* Choice */
.vehicles {
    background-image: url(../img/ScooterHelbiz-2400.jpg);
    height: 400px;
    background-size: cover;
    margin-top: 70px;
}

.title-choice {
    color: white;
    text-align: center;
    font-weight: 400;
    padding: 15%;
}

.title-choice h2 {
    font-size: 42px;
}

.title-choice p {
    font-size: 18px;
    padding: 15px 0;
}

.title-choice a {
    text-decoration: none;
    color: white;
}


/* Media Query */
@media all and (min-width: 768px) and (max-width: 991px) {
    .mini-box{
        width: 50%;
        padding-top: 5%;
        margin-left: 15%;
    }

    .vehicles {
        max-width: 768px;
        margin-top: 150px;
        background-position: 55% 100%;
    }

    .title-choice h2 {
        font-size: 35px;
        padding-top: 15px;
    }

}

@media all and (max-width: 767px) {
    .mini-box {
        width: 100%;
        text-align: left;
        margin-left: 0;
        padding-top: 0;
        padding-left: 50px;
    }

    #info h3 {
        font-size: 30px;
        font-weight: 700;
    }

    #info h5 {
        padding: 15px 0;
        font-size: 20px;
    }
    #info [class*="col-"]:first-child {
        padding-top: 250px;
    }

    #info .mini-box p {
        font-size: 18px;
    }

    .vehicles {
        max-width: 600px;
        margin-top: 50px;
        background-position: 88% 100%;
    }

}